.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 30px;
}
.price{
    color: #ff136f;
    font-weight: bold;
}
.buy-now{
    background-image:linear-gradient(to bottom, #ff5898 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.category-one{
    background-color: orange;
}
.category-two{
    background-color: orchid;
}
.category-three{
    background-color: blue;
}
.category-one, .category-two, .category-three{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    border: none;
    background-color: #fff;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
footer p{
    font-size: 14px;
    color: grey;
}
/*
.buy-now::hover{
    background-color: #fff;
    border: 1px solid #ff136f;
    color: #ff136f;
}*/